<div class="card site-calendar-card">
	<div class="card-body history-page">
		<p>The African Christian Fellowship, Kansas City Chapter started
			in 1995 when three Christian families gathered periodically to
			fellowship together in their homes. At the time of its creation, the
			group was independent of the National African Christian Fellowship.
			The focus of the group was to pray for their family needs, African
			nations and its churches.</p>
		<p>The foundational members, the families of Dr. Kola Okuyemi, Dr.
			Fred Lobati and Mr. Akinwale met weekly and continued to invite other
			Christian families to join in their fellowship. The group has
			continued to grow since then.</p>
		<p>In 1997, two years after the fellowship begun, a permanent
			leadership structure was established with Dr Kola Okuyemi emerging as
			its first President. In 1999, the African Christian Fellowship,
			Kansas City Chapter officially registered to be a part of the
			National ACF. In the same year, Dr. Kola and Bro Emmanuel Idun
			represented the fellowship at the ACF National meeting in Columbus,
			Ohio.</p>
		<p>The constitution was amended in 2008 and part of that amendment
			had the name changed to African Christian Fellowship of Kansas City
			Metropolitan area, ACFKC. In 2010, ACFKC was incorporated (501c) in
			the State of Missouri under the leadership of Dr. Babalola Faseru
			with legal counsel from Bro Victor Oribhabor and Sam Ogbonnaya.</p>
		<p>Our chapter is rich in diversity and has members from several
			countries including Sierra Leone, Ghana, Nigeria, Kenya, Cameroon,
			South Africa, Cameroon, Zambia, Botswana, United States of America
			and Congo. The All Night New Year&rsquo;s Eve prayers, New Year day
			party, annual Africa Day of Prayer, annual family picnic are a few of key
			activities that are held annually by our fellowship.</p>
		<p>Presently, we meet every second Saturday of the
			month at Vineyard Community Church 8301 Lamar Ave Overland Park, KS
			66207. We continue to be actively involved in the National ACF
			including the National and Youth conventions.</p>
	</div>
</div>