<p>Dr Kola Okuyemi and his wife Funke Okuyemi (from Nigeria) started
   ACF Kansas city in June 1995 after he run into Dr Fred Lobati(from
   Cameroon)i at a medical Conference in Kansas city. Their conversation
   quickly shifted from medical to their common desire for Christian
   Fellowship with other African. They desired to have prayers and worship
   the African style. So, they quickly brought their families together and
   started a prayer fellowship.
</p>
<p>The fellowship focused on prayers for African nations , churches
   in Africa and their family needs. The children were part of the
   fellowship. The two families including Mr and Mrs Akinwale(from
   Nigeria), who the Lobatis(Fred and Winifred} invited, were foundational
   members of ACFKC. The three couples and their children met at the
   Okuyemi's apartment in Roeland park, KS. Soon after, Kola ran into
   Jean-Pierre-Mavungu(from Congo) and his wife Dede, who joined and also
   invited Gerald and Julia Ogutu(from Kenya).
</p>
<p>After a while they rotated hosting fellowship meetings in their
   homes and started meeting twice monthly, instead of every weekend. The
   Ogutu's also invited Emmanuel and Phyllis Idun (from Ghana)and the core
   membership became six families and their children. The fellowship still
   rotated through homes all this while.All along, Bro Kola mostly led the
   fellowship without an official structure in place. In 1997 a permanent
   leadership structure was voted into place with Bro Kola being the
   leader. Even though there were times that the formation of a church
   came to the table, the leadership always insisted that we keep it as a
   fellowship and not a church.
</p>
<p>Bro Kola brought to the attention of group that other African
   Christian Fellowships already existed in the US and abroad. However the
   group did not officially register to be part of National ACF or become
   affiliated, They considered themselves African Christian who loved to
   fellowship together. As they continued with fellowship they studied and
   looked at the purpose ,mission and By-laws of the already established
   ACF and saw that the visions were similar, hence it was voted to
   affiliate with other ACF but it took a while before becoming members of
   the ACF National. In 1999 Bro Kola and Bro Emmanuel Idun went to the
   ACF National meeting in Columbus, Ohio.
</p>
<p>By the fall of 1997, the fellowship had grown and there was the
   need for a larger place. Mr Gerald Ogutu who was on the Evangel Board
   then, secured the Evangel Youth Lodge of the church for our meetings.
   There reached a time when the fellowship was not able to meet twice a
   month so it was voted to change it to once a month.Since the beginning
   of the group there has always been dinner after meetings. There was a
   time when some complained and we stopped the dinner . That did not last
   for one meeting and dinner was brought back to the fellowship. Some of
   the problems we have had is children's activities and Young adult
   participation. Especially as we have different levels of children but
   we try to accommodate them as much as we can. There is still room for
   improvement we hope that one day when we have our own building that
   will be taken care of.
</p>
<p>One unique character of ACFKC is the diversity of the countries
   of origin of members and a true spirit of fellowship. countries that
   have been represented so far are Sierra Leone, Ghana, Nigeria, Kenya,
   Cameroon, South Africa, Cameroon, Zambia, Botswana, America, Congo. A
   critical part of ACFKC is the annual All-night prayer into the New year
   and the New year Party( which is usually attended by people who are not
   even members of ACF Our last New year party we had over 120 people.
</p>
<p>
   Our annual Africa Day of Prayer(which is held on 3rd weekend in October
   is also very well attended by lots of non-ACF members, Missionaries and
   their family members..The constitution was amended in 2008 and among
   other changes the name was changed to African Christian Fellowship of
   Kansas city Metropolitan area . In 2010 ACFKC was incorporated( 501c)
   in the State of Missouri, under the leadership of Bro Babalola Faseru,
   and legal help from Bro VIctor Oribhabor and Sam Ogbonnaya (
   Minnesota).Over the years, ACFKC has had visits from Regional
   and National Executives including Sam Ogbonnaya, Victor Oribhabor,
   Adielle Nwankwo, Sis Oremeye Kareem, Bro Sunday Olayimka, Bro Kola
   Okuyemi, Bro Tunde .
</p>
<p>In 2014 ACFKC hosted the Regional Conference in UNITY VILLAGE,
   Kansas City. During the conference the music ministry, as part of our
   outreach ,ministered at the Fireworks at Evangel Church. It was a great
   success.Some of the activities of the fellowship include Bible studies,
   Prayer meetings, Picnics, Youth/Children's nights, Praise nights,
   Volunteering at harvesters food distribution, Building bridges with
   other African churches for Africa day of prayer.We recently launched
   the Building Committee {under the Presidency of Florence Adegoke)
   chaired by Bro Babalola Faseru. We are excited to see where the Lord is
   taking ACFKCOur numbers are running from 60 to 90 depending on the
   activity .Currently ,the ACF Regional is chaired by 3 members from our
   fellowship, namely, Victor Oribhabor, Emmanuel Idun, Olivia Jonah and
   Funke Okuyemi (Minnesota). May the name of the Lord be praised!We now
   meet at Vineyard Church in Overland Park.
</p>