{% load staticfiles %}

{% if all_valid_upcomingevents %}
	{% for event in all_valid_upcomingevents %}
                    <div class="card site-calendar-card">
                        <div class="card-body">
                            <h4 class="card-title">{{ event.event_title }}</h4>
                            <h6 class="text-muted card-subtitle mb-2">Start :&nbsp;<i class="fa fa-calendar"></i><span>	{{ event.start_day }}`</span> | <i class="fa fa-clock-o"></i>
                            <span>{{ event.start_day_start_time }} - {{ event.start_day_end_time  }}</span></h6>
                            <h6 class="text-muted card-subtitle mb-2">End :&nbsp;<i class="fa fa-calendar"></i><span>{{ event.end_day }}</span> | <i class="fa fa-clock-o"></i>
                            <span>{{ event.end_day_start_time }} - {{ event.end_day_end_time }} </span></h6>
                            {% if event.adult_cost %}
                            <h6 class="text-muted card-subtitle mb-2">Registration (adults):&nbsp;&nbsp;<span class="badge badge-dark">${{ event.adult_cost }}</span><span></span></h6>
                            {% endif %}
                            {% if event.youth_cost %}
                            <h6 class="text-muted card-subtitle mb-2">Registration (youth):&nbsp;&nbsp;<span class="badge badge-dark">${{ event.youth_cost }}</span><span></span></h6>
                            {% endif %}
                            {% if event.children_cost %}
                            <h6 class="text-muted card-subtitle mb-2">Registration (kids):&nbsp;&nbsp;<span class="badge badge-dark">${{ event.children_cost }}</span><span></span></h6>
                            {% endif %}
                            
                            <p class="card-text"> {{ event.event_note|truncatewords:"20"}} </p>
                            <a class="card-link" href="{% url 'core:happeningdetail' 'upcoming' event.id %}">See Details&nbsp;<i class="fa fa-angle-double-right"></i></a></div>
                    </div>
 	{% endfor %}
 {% endif %}                   