{% load staticfiles %}

{% if get_all_things_happening %}
	{% for item in get_all_things_happening %}
                    <div class="card site-calendar-card">
                        <div class="card-body">
                            <h4 class="card-title">{{item.happening_thing_title}}</h4>
                            
                            
                            <h6 class="text-muted card-subtitle mb-2"><i class="fa fa-calendar"></i><span>{{ item.frequency }}</span>&nbsp;<i class="fa fa-clock-o"></i><span>{{item.start_time}} - {{item.end_time}}</span></h6>
                           <h6 class="text-muted card-subtitle mb-2"><i class="fa fa-location-arrow"></i> {{ item.happening_thing_location }}</h6>
                           
                           {% if item.adult_cost %}
                            <h6 class="text-muted card-subtitle mb-2">Registration (adults):&nbsp;&nbsp;<span class="badge badge-dark">${{ item.adult_cost }}</span></h6>
                            {% endif %}
                            {% if item.youth_cost %}
                            <h6 class="text-muted card-subtitle mb-2">Registration (youth):&nbsp;&nbsp;<span class="badge badge-dark">${{ item.youth_cost }}</span></h6>
                            {% endif %}
                            {% if item.children_cost %}
                            <h6 class="text-muted card-subtitle mb-2">Registration (kids):&nbsp;&nbsp;<span class="badge badge-dark">${{ item.children_cost}}</span></h6>
                            {% endif %}
                            <p class="card-text"> {{item.happening_thing_note|truncatewords:"20"|safe}} </p><a class="card-link" href="{% url 'core:happeningdetail' 'whatishappening' item.id %}">Details&nbsp;<i class="fa fa-angle-double-right"></i></a></div>
                    </div>
      {% endfor %}
{% endif %}