{% load staticfiles %}

<div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item"><img class="w-100 d-block" src="{% static 'core/img/acfbannerNew.png'  %}" alt="Slide Image">
                <div class="carousel-caption">
                    <h3 id="first-caption">Welcome to&nbsp;<span id="acf-mw-name">ACF KC Metro Chapter</span></h3>
                    <p class="caption-rider"><a href="#" class="btn">Learn more&nbsp;<i class="icon ion-arrow-right-b"></i></a></p>
                </div>
            </div>
            <div class="carousel-item active"><img class="w-100 d-block" src="{% static 'core/img/acfbannerNewbrwn.png'  %}" alt="Slide Image">
                <div class="carousel-caption">
                    <h3 id="second-caption">we are a <span>christian community that empower Africans</span>to impact africa and their generation</h3>
                    <h3 id="second-caption-replace"><span>we empower Africans to impact Africa and their generation</span></h3>
                    <p class="caption-rider"><a href="#" class="btn">Learn more&nbsp;<i class="icon ion-arrow-right-b"></i></a></p>
                </div>
            </div>
            <div class="carousel-item"><img class="w-100 d-block" src="{% static 'core/img/acfbannerNewbl.png'  %}" alt="Slide Image">
                <div class="carousel-caption">
                    <h3 id="third-caption" class="join-us">Join us today!</h3>
                    <p class="caption-rider"><a href="#" class="btn">Who can be a member<i class="icon ion-arrow-right-b"></i></a></p>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
        <ol
            class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0"></li>
            <li data-target="#carousel-1" data-slide-to="1" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
    </div>
    <section class="home-section-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="row main-card">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 what-we-do">
                            <div class="disp-container"><img src="{% static 'core/img/we-praise.png'  %}" class="disp-image">
                                <div class="disp-overlay">
                                    <div class="disp-text"><span>We Praise, Pray &amp; Worship God!<br></span></div>
                                </div>
                            </div>
                            <div>
                                <div class="disp-rider">
                                    <h5>PRAISE &amp; WORSHIP</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 what-we-do">
                            <div class="disp-container"><img src="{% static 'core/img/we_gather_ed.png'  %}" class="disp-image">
                                <div class="disp-overlay">
                                    <div class="disp-text"><span>We gather to have fun, good African food and fellowship together!<br></span></div>
                                </div>
                            </div>
                            <div>
                                <div class="disp-rider">
                                    <h5>FELLOWSHIP, FOOD &amp; FUN</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 what-we-do">
                            <div class="disp-container"><img src="{% static 'core/img/we_missions.png' %} " class="disp-image">
                                <div class="disp-overlay">
                                    <div class="disp-text"><span>We engage in Mission work and other services to our community!</span></div>
                                </div>
                            </div>
                            <div>
                                <div class="disp-rider">
                                    <h5>COMMUNITY &amp; SERVICE</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row happening-card">
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <div>
                                <h3>What is Happening at ACF KC Metro Chapter?</h3>
                                <p class="g-embolden">Discover what is going on and join us!</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <div role="tablist" id="accordion-1">
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1"><i class="material-icons">hearing</i>&nbsp;ACF Monthly Gatherings | <span>2018</span></a></h5>
                                    </div>
                                    <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p class="card-text">We gather on the second Saturday of every month at Vineyard Community Church, Overland Park, KS. It is a time of fellowship with the Lord. Join us as we enjoy a variety of African food.<span><a href="#">Details&nbsp;<i class="fa fa-caret-right"></i></a></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2"><i class="material-icons">hearing</i>&nbsp;ACF Youth Convention | <span>2018</span></a></h5>
                                    </div>
                                    <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p class="card-text">Exciting activities are lined up for this year's ACF Youth convention. Come join other youths from different parts of the country to in this wondrous time of fun and fellowship. It will be held at Los Angeles,
                                                CA.<span><a href="#">Details&nbsp;<i class="fa fa-caret-right"></i></a></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="div#accordion-1 .item-3"><i class="material-icons">hearing</i>&nbsp;ACF Missions to Malawi | <span>2018</span></a></h5>
                                    </div>
                                    <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p class="card-text">Mark 16:15(NIV) says "Go into all the world and preach the gospel to all creation". We will return to Malawi this year to share the light of the Gospel. Also, we will administer and provide health supplies to
                                                Malawians. Be a part of this work as we fulfill God's desire for mankind.&nbsp;<br><span><a href="#">Details&nbsp;<i class="fa fa-caret-right"></i></a></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4" href="div#accordion-1 .item-4"><i class="material-icons">hearing</i>&nbsp;ACF Kansas City Building Project</a></h5>
                                    </div>
                                    <div class="collapse item-4" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p class="card-text">Join hands with us on our Chapter building funding..<br><span><a href="#">Details&nbsp;<i class="fa fa-caret-right"></i></a></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 upcoming-events">
                    <h4><i class="icon ion-ios-list-outline"></i>Upcoming Events</h4>
                    <div>
                        <div class="upcoming-date"><span class="upcoming-day">28</span><span>MAY</span></div>
                        <div id="first-upcoming-details-card" class="upcoming-details-card">
                            <div class="inside-he">
                                <h5>2018 ACF National Conference</h5>
                                <div class="table-responsive">
                                    <table class="table upcoming-table">
                                        <tbody>
                                            <tr>
                                                <td class="tr-left"><i class="fa fa-clock-o"></i></td>
                                                <td>10:30 AM - 4:30 PM</td>
                                            </tr>
                                            <tr>
                                                <td class="tr-left"><i class="fa fa-location-arrow"></i></td>
                                                <td>10036 w pflumm Minnesota MN 62334</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="rider-link"><a href="#" class="btn">See Details</a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="upcoming-date"><span class="upcoming-day">19</span><span>AUG</span></div>
                        <div class="upcoming-details-card">
                            <div class="inside-he">
                                <h5>2018 ACF Youth Convention</h5>
                                <div class="table-responsive">
                                    <table class="table upcoming-table">
                                        <tbody>
                                            <tr>
                                                <td class="tr-left"><i class="fa fa-clock-o"></i></td>
                                                <td>10:30 AM - 4:30 PM</td>
                                            </tr>
                                            <tr>
                                                <td class="tr-left"><i class="fa fa-location-arrow"></i></td>
                                                <td>10036 w pflumm Minnesota MN 62334</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="rider-link"><a href="#" class="btn">See Details</a></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="upcoming-date"><span class="upcoming-day">04</span><span>SEP</span></div>
                        <div class="upcoming-details-card">
                            <div class="inside-he">
                                <h5>2018 ACF Missions to Malawi</h5>
                                <div class="table-responsive">
                                    <table class="table upcoming-table">
                                        <tbody>
                                            <tr>
                                                <td class="tr-left"><i class="fa fa-clock-o"></i></td>
                                                <td>10:30 AM - 4:30 PM</td>
                                            </tr>
                                            <tr>
                                                <td class="tr-left"><i class="fa fa-location-arrow"></i></td>
                                                <td>10036 w pflumm Minnesota MN 62334</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="rider-link"><a href="#" class="btn">See Details</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-section-2">
        <div class="container">
            <h2>Weekly Bible Devotion*</h2>
            <div class="row articles-card">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <article class="article-card">
                        <h5 class="article-title">Clinging to the faith</h5><span><i class="icon ion-bonfire hot-ranks pull-right"></i><i class="icon ion-bonfire hot-ranks pull-right"></i></span>
                        <p><i class="fa fa-user-circle-o"></i>&nbsp;Eliz warring | <i class="fa fa-calendar"></i>&nbsp;Feb - 17 - 2018</p>
                        <p>Category:&nbsp;<span class="badge badge-dark article-badge">Religion</span><span class="badge badge-dark"></span><span class="badge badge-dark article-badge">Health</span><span class="badge badge-dark article-badge">Family</span></p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                            pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim<span class="articles-read-more"><a href="#">Read more...</a></span><br></p>
                    </article>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" id="recomm-article">
                    <article id="high-rank-article" class="article-card">
                        <h5 class="article-title">Clinging to the faith</h5><span><i class="icon ion-bonfire hot-ranks pull-right"></i><i class="icon ion-bonfire hot-ranks pull-right"></i><i class="icon ion-bonfire hot-ranks pull-right"></i></span>
                        <p><i class="fa fa-user-circle-o"></i>&nbsp;Eliz warring | <i class="fa fa-calendar"></i>&nbsp;Feb - 17 - 2018</p>
                        <p>Category:&nbsp;<span class="badge badge-dark article-badge">Religion</span><span class="badge badge-dark"></span><span class="badge badge-dark article-badge">Health</span><span class="badge badge-dark article-badge">Family</span></p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Nullam dictum felis eu pede mollis pretium.&nbsp;<br>
                            <span
                                class="articles-read-more"><a href="#">Read more...</a></span><br></p>
                    </article>
                    <article></article>
                </div>
                <div class="col-12">
                    <p class="article-seeall"><a href="#" class="btn">See all devotions</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="home-section-3">
        <div class="container">
            <h2>Media*</h2>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="disp-container media-container"><img src="{% static 'core/img/newyear-party.png'  %}" class="disp-image">
                                <div class="disp-overlay">
                                    <div class="disp-text"><span><br>Album of New Year Party, 2018. Held at Evangel Church, Kansas City Kansas.<br><br></span></div>
                                </div>
                            </div>
                            <div>
                                <div class="media-gallery-footer">
                                    <h5 class="media-album-title"><span>New Year Party&nbsp;</span>&nbsp;| 2018</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="disp-container media-container"><img src="{% static 'core/img/malawi.png'  %}" class="disp-image">
                                <div class="disp-overlay">
                                    <div class="disp-text"><span><br>Album of events at the 2017 ACF Missions to Malawi, Africa.<br><br></span></div>
                                </div>
                            </div>
                            <div>
                                <div class="media-gallery-footer">
                                    <h5><span>Malawi Missions</span>&nbsp;| 2017</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 section03-video-column">
                    <div class="video-container"><iframe allowfullscreen="" frameborder="0" src="https://player.vimeo.com/video/201361986"></iframe></div>
                </div>
                <div class="col-12">
                    <p class="article-seeall"><a href="#" class="btn">See all media</a></p>
                </div>
            </div>
        </div>
    </section>
    <div class="jumbotron buttom home">
        <div class="container">
            <h1>KNOW OUR STORY *</h1>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 notebook">
                    <div></div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 story-card">
                    <div>
                        <p>Dr Kola Okuyemi and his wife Funke Okuyemi (from Nigeria) started ACF Kansas city in June 1995 after he run into Dr Fred Lobati (from Cameroon) at a medical Conference in Kansas city. Their conversation quickly shifted from medical
                            to their common desire for Christian Fellowship with other African. They desired to have prayers and worship the African style. So they quickly brought their families together and started a prayer fellowship. The fellowship
                            focused on prayers for African nations , churches in Africa and their family needs.<br></p>
                        <p class="story-link"><a href="{% url 'about' 'history' %}" class="btn">See Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>