{% load staticfiles %}


<div class="col-3 col-lg-3 col-xl-3 inner-right-panel">
                    <div class="inner-what-is">
                        <div class="what-is-bg-holder"></div>
                        <div class="what-is-details">
                            <h5>Things Happening</h5>
                        </div>
                        <div class="what-is-divider"></div>
                        <div class="what-is-content">
                            <p><a href="{% url 'happeningdetail' 'whatishappening' %}"><i class="fa fa-long-arrow-right"></i>&nbsp;ACFKC Monthly Gatherings</a></p>
                            <p><a href="{% url 'happeningdetail' 'whatishappening' %}"><i class="fa fa-long-arrow-right"></i>&nbsp;ACFKC Monthly Prayers</a></p>
                            <p><a href="{% url 'happeningdetail' 'whatishappening' %}"><i class="fa fa-long-arrow-right"></i>&nbsp;ACFKC Annual Picnic</a></p>
                            <p><a href="{% url 'happeningdetail' 'whatishappening' %}"><i class="fa fa-long-arrow-right"></i>&nbsp;Other things we do routinely ....</a></p>
                        </div>
                    </div>
                    <div class="inner-updates-right">
                        <h4>UPCOMING</h4>
                        <div class="inner-upcoming-card first">
                            <p class="inner-upcoming-title">ACF MidWest Regional Conference</p>
                            <p class="inner-upcoming-rider">FEB-22 2018| 10.30AM - 10:00PM | Overland Park, KS&nbsp;</p>
                            <p class="inner-upcoming-rider"><a href="{% url 'happeningdetail' 'upcoming' %}">Details&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</a></p>
                        </div>
                        <div class="inner-upcoming-card">
                            <p class="inner-upcoming-title">ACF National Youth Convention<br></p>
                            <p class="inner-upcoming-rider">FEB-22 2018| 10.30AM - 10:00PM | Overland Park, KS&nbsp;</p>
                            <p class="inner-upcoming-rider"><a href="{% url 'happeningdetail' 'upcoming' %}">Details&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</a></p>
                        </div>
                        <div class="inner-upcoming-card">
                            <p class="inner-upcoming-title">ACF Missions to Malawi<br></p>
                            <p class="inner-upcoming-rider">FEB-22 2018| 10.30AM - 10:00PM | Overland Park, KS&nbsp;</p>
                            <p class="inner-upcoming-rider"><a href="{% url 'happeningdetail' 'upcoming' %}">Details&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</a></p>
                        </div>
                        <div class="inner-upcoming-card">
                            <p class="inner-upcoming-title">2018 ACF National Conference</p>
                            <p class="inner-upcoming-rider">FEB-22 2018| 10.30AM - 10:00PM | Overland Park, KS&nbsp;</p>
                            <p class="inner-upcoming-rider"><a href="{% url 'happeningdetail' 'upcoming' %}">Details&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</a></p>
                        </div>
                    </div>
                </div>