{% load staticfiles %}

                  
                    
                    <div class="card site-calendar-card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fa fa-cloud-download"></i>&nbsp;ACF KC Metro Constitution</h4>
                            <h6 class="text-muted card-subtitle mb-2">Uploaded by: Admin | &nbsp;<i class="fa fa-calendar"></i><span>Jan-10-2018</span>&nbsp;</h6><a class="card-link" href="#">Click to Download &nbsp;<i class="fa fa-angle-double-right"></i></a></div>
                    </div>
                    
                    <div class="card site-calendar-card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fa fa-cloud-download"></i>&nbsp;Any other document...</h4>
                            <h6 class="text-muted card-subtitle mb-2">Uploaded by: Admin | &nbsp;<i class="fa fa-calendar"></i><span>Mar-10-2018</span>&nbsp;</h6><a class="card-link" href="#">Click to Download &nbsp;<i class="fa fa-angle-double-right"></i></a></div>
                    </div>
                    
                