{% load staticfiles %} 
{% if get_devotions %} 
	{% for item in get_devotions %}
	<div class="card site-calendar-card">
		<div class="card-body">
			<h4 class="card-title">{{ item.devotion_title }}</h4>
			<h6 class="text-muted card-subtitle mb-2">
				Author : {{ item.author }} &nbsp;<i class="fa fa-calendar"></i>
				<span>{{item.create_date|date:"M"}}-{{ item.create_date|date:"d"}}-{{item.create_date|date:"Y"}}</span>&nbsp;
			</h6>
			<p class="card-text">
				<img src="/media/{{item.dev_picture}}" class="devotion-image">
				{{ item.message|truncatewords:"100"|safe }}
			</p>
			<a class="card-link" href=" {% url 'core:devotionarticle' item.id %} ">Read Devotion&nbsp;<i
				class="fa fa-angle-double-right"></i></a>
		</div>
	</div>
	{% endfor %} 
{% else %}

<div class="card site-calendar-card">
	<div class="card-body">
		<h4 class="card-title">No devotion uploaded at this time</h4>
	</div>
</div>
{% endif %}
