{% load staticfiles %}

       <div class="card site-calendar-card">
                        <div class="card-body">
                            <h4 class="card-title">Touching the hand of God 1</h4>
                            <h6 class="text-muted card-subtitle mb-2">Author : Victor Mensah &nbsp;<i class="fa fa-calendar"></i><span>May-10-2018</span>&nbsp;</h6>
                            <p class="card-text"><img src="{% static 'core/img/holding-cross.jpg'  %}" class="devotion-image">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <a class="card-link" href="#">Details&nbsp;<i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    
                     <div class="card site-calendar-card">
                        <div class="card-body">
                            <h4 class="card-title">Touching the hand of God 2</h4>
                            <h6 class="text-muted card-subtitle mb-2">Author : Steven Dialo &nbsp;<i class="fa fa-calendar"></i><span>May-10-2018</span>&nbsp;</h6>
                            <p class="card-text "><img src="{% static 'core/img/holding-cross.jpg'  %}" class="devotion-image">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <a class="card-link" href="#">Details&nbsp;<i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    
                     <div class="card site-calendar-card">
                        <div class="card-body">
                            <h4 class="card-title">Touching the hand of God 3</h4>
                            <h6 class="text-muted card-subtitle mb-2">Author : Mary Anunwa &nbsp;<i class="fa fa-calendar"></i><span>May-10-2018</span>&nbsp;</h6>
                            <p class="card-text"><img src="{% static 'core/img/holding-cross.jpg'  %}" class="devotion-image">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <a  class="card-link" href="#">Details&nbsp;<i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>               
                