{% load staticfiles %}

    <div class="jumbotron inner-jumbo">
        <h1 class="inner-jumbo-title"><i class="fa fa-caret-left"></i>

		{% ifequal resources_type 'devotion' %}&nbsp;Weekly Devotion&nbsp;{% endifequal %}
		{% ifequal resources_type 'media' %}&nbsp;Media&nbsp;{% endifequal %} 
		{% ifequal resources_type 'downloads' %}&nbsp;Downloads&nbsp;{% endifequal %} 

		<i class="fa fa-caret-right"></i></h1>
    </div>
    <div class="inner-menu">
        <div class="container inner-menu-container">
            <ul class="inner-menu-list">

            {% ifequal resources_type 'devotion' %}
                <li><a href="{% url 'resources' 'devotion' %}" class="active">Devotion</a></li>
            {% else %}
            	<li><a href="{% url 'resources' 'devotion' %}">Devotion</a></li>
            {% endifequal %}
            
            {% ifequal resources_type 'media' %}
                <li><a href="{% url 'resources' 'media' %}" class="active">Media</a></li>
            {% else %}
            	<li><a href="{% url 'resources' 'media' %}">Media</a></li>
            {% endifequal %}
            
            {% ifequal resources_type 'downloads' %}
                <li><a href="{% url 'resources' 'downloads' %}" class="active">Downloads</a></li>
            {% else %}
            	<li><a href="{% url 'resources' 'downloads' %}">Downloads</a></li>
            {% endifequal %}
			</ul>
        </div>
    </div>
    {% ifequal resources_type 'media' %}
    
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">ACF Media Gallery</h2>
                <p class="text-center">Enjoy our media gallery! Explore videos and image albums of our past events. </p>
            </div>
            <div class="row photos">
            	<div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'core/img/newyear-party.png'  %}" data-lightbox="photos"><img class="img-fluid album-gallery" src="{% static 'core/img/newyear-party.png'  %}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'core/img/malawi.png'  %}" data-lightbox="photos"><img class="img-fluid album-gallery" src="{% static 'core/img/malawi.png'  %}"></a></div>
                
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'core/img/album-01.png'  %}" data-lightbox="photos"><img class="img-fluid album-gallery" src="{% static 'core/img/album-01.png'  %}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'core/img/album-02.png'  %}" data-lightbox="photos"><img class="img-fluid album-gallery" src="{% static 'core/img/album-02.png'  %}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'core/img/album-03.png'  %}" data-lightbox="photos"><img class="img-fluid album-gallery" src="{% static 'core/img/album-03.png'  %}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'core/img/album-04.png'  %}" data-lightbox="photos"><img class="img-fluid album-gallery" src="{% static 'core/img/album-04.png'  %}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'core/img/album-05.png'  %}" data-lightbox="photos"><img class="img-fluid album-gallery" src="{% static 'core/img/album-05.png'  %}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'core/img/album-06.png'  %}" data-lightbox="photos"><img class="img-fluid album-gallery" src="{% static 'core/img/album-06.png'  %}"></a></div>
            	<div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'core/img/album-07.png'  %}" data-lightbox="photos"><img class="img-fluid album-gallery" src="{% static 'core/img/album-07.png'  %}"></a></div>
            
            </div>
        </div>
    </div>
    <section></section>
    <div class="jumbotron inside-buttom">
        <p></p>
    </div>
    
    {% endifequal %}
    <!--  Show this area if link is not Media -->
    {% ifnotequal resources_type 'media' %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 inner-main-panel">
                    <div class="inner-content-div">
             
                     {% ifequal resources_type 'downloads' %}
                        <!-- Insert your downloads docs Here --> 
              			{% include "core/resources-downloads-content.html" %}
                    {% endifequal %} 
                     
                     {% ifequal resources_type 'devotion' %}
                        <!-- Insert your devotion Here --> 
              			{% include "core/resources-devotions-content.html" %}
                    {% endifequal %} 
                     
                    </div>
                </div>
                
                
             <!-- Insert your right panel Here --> 
              {% include "core/inner-right-panel.html" %}
              
            </div>
        </div>
    </section>
    <div class="jumbotron inside-buttom">
        <p></p>
    </div>
     {% endifnotequal %}