{% load staticfiles %}

<div>
	<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">

		<div class="container">
			<a class="navbar-brand" href="{% url 'core:home' %}" style='background-image: url("{% static 'core/img/acfkclogo.png' %}")'><span>ACF MIDWEST</span></a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav mr-auto">
					<li class="dropdown"><a	class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">About Us</a>
						<div class="dropdown-menu" role="menu">
							<a class="dropdown-item" role="presentation" href="{% url 'core:about' 'mission' %}">Mission Statement</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:about' 'history' %}">History</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:about' 'leadership' %}">Leadership</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:whatwedo' %}">What we do</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:about' 'member' %}">Who can be a member</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:happening' 'whatishappening' %}">What is happening</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:happening' 'upcoming' %}">Upcoming Events</a>
							
							
						</div></li>
					<li class="dropdown"><a
						class="dropdown-toggle nav-link dropdown-toggle"
						data-toggle="dropdown" aria-expanded="false" href="#">Ministries&nbsp;</a>
						<div class="dropdown-menu" role="menu">
							<a class="dropdown-item" role="presentation" href="{% url 'core:ministry' 'children' %}">Children</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:ministry' 'youth' %}">Youth</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:ministry' 'missions' %}">Missions</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:ministry' 'worship' %}">Worship & Fellowship</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:ministry' 'membership' %}">Membership</a>
						</div></li>
					<li class="dropdown"><a
						class="dropdown-toggle nav-link dropdown-toggle"
						data-toggle="dropdown" aria-expanded="false" href="#">Resources&nbsp;</a>
						<div class="dropdown-menu" role="menu">
							<a class="dropdown-item" role="presentation" href="{% url 'core:resources' 'devotion' %}">Devotion</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:resources' 'media' %}">Media</a>
							<a class="dropdown-item" role="presentation" href="{% url 'core:resources' 'downloads' %}">Downloads</a>
						</div></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'core:contact' %}">Contact</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="">Community</a></li>
				</ul>
				
				{% if request.user.is_authenticated %}
				<span class="navbar-text actions"> <a href="{% url 'profiles:home' request.user 'dashboard' %}" class="login">{{ request.user }}'s Profile</a>
				<a class="btn btn-light action-button" role="button" href="{% url 'auth_logout' %}">Logout</a></span>
				{% else %}
				<span class="navbar-text actions"> <a href="{% url 'auth_login' %}" class="login">Log In</a>
				<a class="btn btn-light action-button" role="button" href="{% url 'registration_register' %}">Sign Up</a></span>
				 {% endif %}   
				    
				
				
			</div>
		</div>
	</nav>
</div>